@import url('https://fonts.googleapis.com/css2?family=Jaro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');



$fondo: #000537;


$letra-blanca: white;
$letra-negra: black;
$tipografia-jaro: 'Jaro', sans-serif;
